
@import './styles/variables.css';
@import './styles/fonts.css';
@import './styles/globals.css';
@import './styles/material-icons-custom.css';
@import './styles/iconLabels.css';
@import './styles/nav.css';
@import './styles/keyframes.css';



.dot {
  background-color: var(--background-inactive);

  width: 15px;
  height: 15px;

  border-radius: 50%;
}

.dot.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.dot.main:hover {
  background-color: var(--background-active);
}

.dot.main .icon {
  position: relative;

  margin-top: -1.875rem;

  color: var(--background-inactive);

  transition: all 0.2s ease-in-out;
}

.dot.main:hover .icon {
  transform: scale(1.15);
  margin-top: -2rem;

  color: var(--background-active);
}

.dot.main .icon::after {

  color: var(--background-inactive);

  font-size: 1rem;

  position: absolute;
  bottom: 0.625rem;
  margin-left: 0.25rem;

  animation: slideOut 0.9s ease-in-out forwards;
}

.nav-item-container.active .dot.main {
  background-color: var(--background-active);
}

.nav-item-container:last-child .dot.main .icon::after {
  right: 100%;
}

.nav-item-container.active .dot.main .icon {
  transform: scale(1.35);
  margin-top: -2rem;

  color: var(--background-active);
}

.nav-item-container.active .dot.main .icon::after {
  color: var(--background-active);

  animation: slideIn 0.9s ease-in-out forwards;
}

.nav-item-container:last-child.active .dot.main .icon::after {
  animation: slideIn 0.9s ease-in-out forwards;
}

.dot.secondary {
  width: 10px;
  height: 10px;
}

.indicator {
  background-color: var(--background-active);

  height: 3px;
  width: 0;

  position: absolute;
  top: 0;
  left: -15px;

  transition: all 0.9s ease-in-out;
}

.subnav {
  display: flex;
  justify-content: space-around;

  min-width: 100%;
  min-height: 2rem;

  white-space: nowrap;

  animation: slideOut 0.9s ease-in-out forwards;
}

.nav-item-container.active .subnav {
  animation: slideIn 0.9s ease-in-out forwards;
}

.subnav-label {
  position: relative;

  padding-top: 0.5rem;

  cursor: pointer;
}

.subnav-label:last-child::before {
  left: 50%;
}

.nav-item-container {
  width: 1%;

  display: flex;
  align-items: center;

  position: relative;

  transition: all 0.9s ease-in-out;
}

.nav-item-container:last-child {
  max-width: 0%;
}

.nav-item-container.active {
  width: 80%;
}
