@import './iconLabels.css';


/* Variables */
:root {
  --background-inactive: #7F7F7F;
}

/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}



/* Material Icons */
.material-icons.md-25 {
  font-size: 25px;
}

.material-icons.md-inactive {
  color: var(--background-inactive);
}



nav {
  margin: 0 80px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav::before {

  content: '';
  position: absolute;
  top: 50%;

  border-top: 1px solid var(--background-inactive);
  width: 100%;
  transform: translateY(-50%);
}

.dot {
  background-color: var(--background-inactive);

  width: 15px;
  height: 15px;

  border-radius: 50%;
}

.dot.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;

  /* transition: all 0.9s ease-in-out; */
}

.dot.main .icon {
  position: relative;

  margin-top: -30px;

  transition: all 0.2s ease-in-out;
}

.dot.main:hover .icon {
  transform: scale(1.2);
}

.dot.main .icon::after {

  color: var(--background-inactive);

  font-size: 1rem;

  position: absolute;
  bottom: 9px;
  margin-left: 5px;

  animation: slideOut 0.9s ease-in-out forwards;
}

.nav-item-container:last-child .dot.main .icon::after {
  right: 100%;
}

.nav-item-container.active .dot.main .icon {
  transform: scale(1.2);
}

.nav-item-container.active .dot.main .icon::after {
  display: inline;

  animation: slideIn 0.9s ease-in-out forwards;
}

.dot.secondary {
  width: 10px;
  height: 10px;
}

.subnav {
  display: flex;

  white-space: nowrap;

  transform: translateY(calc(50% - 5px));
}

.subnav-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

.subnav-label-container:last-child {
  padding-right: 0;
}

.subnav-label {
  position: relative;

  margin-top: 5px;
}

.subnav-label:last-child::before {
  left: 50%;
}

.nav-item-container {
  max-height: 60px;

  display: flex;
  align-items: center;
  flex: 0.5;

  position: relative;

  transition: all 0.9s ease-in-out;
}


@keyframes setActive {
  from {
    max-width: 5%;
  }
  to {
    min-width: 70%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%) translateY(calc(50% - 5px)) scaleX(0);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    opacity: 0;
  }

  1% {
    transform: translateX(-100%) translateY(calc(50% - 5px)) scaleX(1);
  }

  99% {
    opacity: 1;
  }

  100% {
    transform: translateX(0%) translateY(calc(50% - 5px)) scaleX(1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%) translateY(calc(50% - 5px)) scaleX(1);
    /* display: flex; */
    min-width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }

  98% {
    opacity: 0;
  }

  99% {
    transform: translateX(-99%) translateY(calc(50% - 5px)) scaleX(1);
    min-width: 100%;
    /* display: flex; */
  }

  100% {
    transform: translateX(-100%) translateY(calc(50% - 5px)) scaleX(0);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    /* min-width: 0%; */
    /* display: none; */
    opacity: 0;
  }
}


.slide-in {
  animation: slideIn 0.9s ease-in-out backwards;
}

.slide-out {
  animation: slideOut 0.9s ease-in-out forwards;
}

.sliding-adjust {
  animation: slidingAdjust 0.9s ease-in-out forwards;
}

/*
@keyframes slideIn {
  0% {
    transform: translate(100%, calc(50% - 5px));
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    display: none;
  }

  1% {
    display: flex;
  }

  100% {
    transform: translate(0px, calc(50% - 5px));
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0px);
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  99% {
    display: flex;
  }

  100% {
    transform: translateX(100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    display: none;
  }
}

@keyframes slidingAdjust {
  0% {
    flex: 0.5;
  }
  100% {
    flex: 1;
  }
} */